src/main/mule/firstapplication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="93b1c178-6c2a-423e-addd-faed60cc285d" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="firstapplicationFlow" doc:id="a1f1e13c-50c0-4ae1-9fbb-49a9d91996e7" >
		<http:listener doc:name="Listener" doc:id="09c4833e-2d87-444b-9ed6-56ebc6ffd28f" config-ref="HTTP_Listener_config" path="/sayHello"/>
		<set-payload value='#["Hello All"]' doc:name="Set Payload" doc:id="c0aba2e3-15f0-44f8-9af5-c2a54fbb65a0" />
	</flow>
</mule>
